body {
    font-family: 'Arial';
    background-color: #f4f4f4;
    align-items: center;
}
.resume {
    background-color: #7deed4;
}
.header {
    text-align: center;
}
.header h1 {
    color: #c112e4;
}
.header h2 {
    color: #e22c18f5;
}
.section {
    margin-bottom: 20px;
}
.section h3 {
    color: #007BFF;
}